# nRF52840 DK Platform Configuration
# Nordic nRF52840 ARM Cortex-M4F development kit

[isa]
name = "armv7e-m"

[isa.instruction_timings]
alu = 1
load = 2
store = 2
branch = 2
multiply = 2
divide = 12

[core]
name = "cortex-m4f"

[core.pipeline]
stages = 3
pipeline_type = "inorder"

[core.cache]
# nRF52840 has no cache, flash controller provides prefetch buffer

[core.memory]
load_buffer_size = 2
store_buffer_size = 2

[core.memory.memory_latency]
type = "fixed"
cycles = 3

[soc]
name = "nrf52840"
cpu_frequency_mhz = 64

[[soc.memory_regions]]
name = "flash"
start = 0x00000000
size = 1048576
latency = 3

[[soc.memory_regions]]
name = "sram"
start = 0x20000000
size = 262144
latency = 1

[board]
name = "nrf52840dk"
