# STM32L476 Discovery Platform Configuration
# STM32L476VGT6 ARM Cortex-M4 ultra-low-power microcontroller

[isa]
name = "armv7e-m"

[isa.instruction_timings]
alu = 1
load = 2
store = 2
branch = 2
multiply = 2
divide = 12

[core]
name = "cortex-m4f"

[core.pipeline]
stages = 3
pipeline_type = "inorder"

[core.cache]
[core.cache.instruction_cache]
size_kb = 8
line_size_bytes = 16
associativity = 2
replacement_policy = "LRU"
hit_latency = 0
miss_latency = 8

[core.cache.data_cache]
size_kb = 8
line_size_bytes = 16
associativity = 2
replacement_policy = "LRU"
hit_latency = 0
miss_latency = 8

[core.memory]
load_buffer_size = 2
store_buffer_size = 2

[core.memory.memory_latency]
type = "fixed"
cycles = 3

[soc]
name = "stm32l476"
cpu_frequency_mhz = 80

[[soc.memory_regions]]
name = "flash"
start = 0x08000000
size = 1048576
latency = 3

[[soc.memory_regions]]
name = "sram1"
start = 0x20000000
size = 98304
latency = 1

[[soc.memory_regions]]
name = "sram2"
start = 0x10000000
size = 32768
latency = 1

[board]
name = "stm32l476g-disco"
